.btn_after_loop{
    margin-top: 10px;
  /*  position: absolute;
    bottom: -36px;
 
    left: 0;
    right: 0;*/
}
/*.wishlist_button_add {
	padding-bottom: 10px;
}*/
.wishlist_button_after{
	padding-top: 10px;

  
}
.wishlist_button_link_after{
	margin-bottom: 10px;
      font-size: 16px;
}
.wishlist_button_link_before{
margin-bottom: 11px;

}
.custom-icon-heart-plus:before {
  content: '\f184'; 
  font-family: 'FontAwesome' !important;
  font-size: 16px !important;
  margin-right: 8px;
}
